.login-layout {
    width: 400px;
    border: 1px solid black;
    height: 400px;
    padding: 12px;
}
.btn {
    background-color: rgba(0, 0, 128, 1.0);
    padding: 5px;
    //width: 50%;
    cursor: pointer;
    background-size: 25px;
    color: white;
}
.cell-style {
   text-align: center;
}