.btn {
    background-color: rgba(0, 0, 128, 1.0);
    padding: 5px;
    //width: 50%;
    cursor: pointer;
    background-size: 25px;
    color: white;
}
.email {
    background: #ECECEC;
    background-size: 25px;
    padding:5px;
}
.fake-anchor {
    cursor:pointer;
     color: #023F7C;
     text-decoration:underline;
  }