#closeLetters {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}
#closeLetters span {
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
.highlight {
    background-color: rgba(0, 0, 128, 1.0);
    padding: 5px;
    //width: 50%;
    cursor: pointer;
}
.pale {
    background-color: rgb(56, 166, 255);
    padding: 5px;
    //width: 50%;
    cursor: pointer;
}
.fireContainer {
    top:100px;
    left:0;
    width:80%;
    height: 700px;
    position: fixed;
    z-index: 1000;
}
#togglePanel {
    display: flex;
    position: relative;
    //top: 495px;
    //left: 0;
    z-index: 1000;
    font-family: Roboto, sans-serif;
    width: 230px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    //bottom:0;
    margin-top: 45rem;
    //bottom: 0;
    //margin-bottom: 7em;
    
}
.box {
    /*display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;*/
    height:800px;
    overflow-y: auto;
  }
.toggleClass {
    font-family: Roboto, sans-serif;
    width: 80%;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}
.definition {
    height: 150px;
    overflow: auto;
    font-size: 14px;
    color: black;
}
#wordPanel {
    display:flex;
    position:absolute;
    top:0;
    width:300px;
    margin:auto;
    background-color:#8A2BE2 ;
    color:white;
    height: 50px;
    font-size: 36px;
    font-weight: 700;
    z-index: 100;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 4em;
}
.puzzle-err-modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    width: 40%;
}
.center-oops-modal {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin: 20px;
}
.wrapper {
    position: relative;
    //width: 400px;
    height: 300px;
}
.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}
.fireContainer canvas {
    border: 1px solid black;
}
.stop-watch {
    width:100%; 
    float: left;
    margin-left: 10px;
}
.img-stop {
    cursor: pointer;
}
.timer-num {
    font-weight: 700;
    font-size: 35px;
}
.word-column {
    //width:30%;
    cursor: pointer;
    font-size:16px;
    color: white;
    background-color: #008EB0;
    //margin: 15px;
    border: 2px solid black;
    padding:10px;
    text-align: center;
    border-radius: 4px;
}
/******
Side NAV Styles
**************************************/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    //position: absolute;
    //top: 0;
   // right: 25px;
    font-size: 36px;
    margin-left: 60%;
    color: white;
    cursor:pointer;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/************************************/