<ion-header>
  <ion-toolbar>
    <ion-title>Puzzle Viewer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  <div class="container-fluid">
    <div class="mb-3 row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5">
            <progress-bar [progress]="progressStatus" [color]="'#488aff'">
            </progress-bar>
          </div>
          <div class="col-md-2">
            <div class="stop-watch">
              <app-stopwatch [shouldStart]="shouldStart" 
              [pause]="pause" [done]="done" [setRand]="setRand"></app-stopwatch>
              
            </div>
          </div>
          <div class="col-md-5">
            <div *ngIf="normalStop">
              <img src="/assets/stop2-sm.png" (click)="toggleStop()" class="img-stop"/>
              &nbsp;
              <span class="timer-num">
                {{ stopNum }}
              </span>
             
            </div>
            <div *ngIf="!normalStop">
              <img src="/assets/stop2-sm-crossout.png" (click)="toggleStop()" class="img-stop" />
              &nbsp;
              <span class="timer-num">
                {{ stopNum }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="toggleClass row">
          <div id="moveCanvas" class="highlight col-6" (click)="toggleStatus($event)">
            Move Puzzle
          </div>
          <div id="highlightCanvas" class="pale col-6" (click)="toggleStatus($event)">
            Highlight
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div style="width: 100%">
    <div style="width:33%; float: left">
      <progress-bar [progress]="progressStatus" [color]="'#488aff'">
      </progress-bar>
    </div>
    <div class="stop-watch">
      <app-stopwatch [shouldStart]="shouldStart" [pause]="pause" [done]="done"></app-stopwatch>
      
    </div>
    <div style="width:30%; float:left">
      <div *ngIf="normalStop">
        <img src="/assets/stop2-sm.png" (click)="toggleStop()" class="img-stop"/>
        &nbsp;
        <span class="timer-num">
          {{ stopNum }}
        </span>
       
      </div>
      <div *ngIf="!normalStop">
        <img src="/assets/stop2-sm-crossout.png" (click)="toggleStop()" class="img-stop" />
        &nbsp;
        <span class="timer-num">
          {{ stopNum }}
        </span>
      </div>
    </div>
  </div>-->
  <div class="box">

 
  <div class="wrapper" style="float:left;width:70%">
    <div *ngIf="!displayLarge">
      <canvas id="canvasPuzzle" width="500" height="500" ></canvas>
    </div>
    <div *ngIf="displayLarge">
      <canvas id="canvasPuzzle" width="800" height="800"></canvas>
    </div>
  
</div>
  <div class="fireContainer" [hidden]="!showFire">
     <canvas id="canvasFire" width="700" height="700"></canvas>
 </div>
  <div class="wrapper row" style="float:left;width: 30%">
      <div *ngFor="let w of searchWords" class="word-column col-3" (click)="openNav()">
        <div [ngStyle]="{'text-decoration': (w.found) ? 'line-through' : ''}">
          {{ capitalizeFirstLetter(w.word.toLowerCase()) }}
        </div>
      </div>
  </div>

  <div id="closeLetters" *ngIf="inLargeMode" (click)="backToMainScreen()">
    <span>X</span>
  </div>
  <div *ngIf="displayErrModal" class="puzzle-err-modal">
    <div style="float: left;">
      <img src="/assets/confused-emoji.png" />
    </div>
    <div class="center-oops-modal" style="float: right;">
    Ooops...
     <div>
       <button (click)="closeOops()">Close</button>
     </div>
    </div>
  </div>
</div>
</ion-content>
