<ion-header>
  <ion-toolbar>
    <ion-title>Puzzle Viewer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="wordPanel" *ngIf="displayWordBanner">
    {{ currWord }}
  </div>
  <div style="width: 100%">
    <div style="width:33%; float: left">
      <progress-bar [progress]="progressStatus" [color]="'#488aff'">
      </progress-bar>
    </div>
    <div style="width:62%; float: right">
      <app-stopwatch [shouldStart]="shouldStart"></app-stopwatch>
    </div>
  </div>
  <div class="wrapper" style="float:left;width:70%">
    <div *ngIf="!this.displayLarge">
      <canvas id="canvasPuzzle" width="500" height="500" ></canvas>
    </div>
    <div *ngIf="this.displayLarge">
      <canvas id="canvasPuzzle" width="800" height="800"></canvas>
    </div>
   <!--<canvas id="canvas2" width="500" height="500"></canvas>-->
</div>
<div id="togglePanel">
  <div id="moveCanvas" class="highlight" (click)="toggleStatus($event)" >Move Puzzle</div>
  <div id="highlightCanvas" class="pale" (click)="toggleStatus($event)" >Highlight</div>
</div>
<div id="closeLetters" *ngIf="inLargeMode" (click)="backToMainScreen()">
    <span>X</span>
  </div>
  <div *ngIf="displayErrModal" class="puzzle-err-modal">
    <div style="float: left;">
      <img src="/assets/confused-emoji.png" />
    </div>
    <div class="center-oops-modal" style="float: right;">
    Ooops...
     <div>
       <button (click)="closeOops()">Close</button>
     </div>
    </div>
  </div>
</ion-content>
