<div class="wrapper" style="float:left;width:70%">
    <canvas id="canvasPuzzle" width="500" height="500"></canvas>
    <canvas id="canvas2" width="500" height="500"></canvas>
</div>
<div id="closeLetters" *ngIf="inLargeMode" (click)="backToMainScreen()">
    <span>X</span>
  </div>
  <div id="togglePanel">
    <div id="moveCanvas" class="highlight" (click)="toggleStatus($event)" >Move Puzzle</div>
    <div id="highlightCanvas" class="pale" (click)="toggleStatus($event)" >Highlight</div>
  </div>
  <div *ngIf="displayErrModal" class="puzzle-err-modal">
    <div style="float: left;">
      <img src="/assets/confused-emoji.png" />
    </div>
    <div class="center-oops-modal" style="float: right;">
    Ooops...
     <div>
       <button (click)="closeOops()">Close</button>
     </div>
    </div>
  </div>
