#closeLetters {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}
#closeLetters span {
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
.highlight {
    background-color: rgba(0, 0, 128, 1.0);
    padding: 5px;
    width: 50%;
    cursor: pointer;
}
.pale {
    background-color: rgb(56, 166, 255);
    padding: 5px;
    width: 50%;
    cursor: pointer;
}
#togglePanel {
    display: flex;
    position: fixed;
    top: 495px;
    left: 0;
    z-index: 100;
    font-family: Roboto, sans-serif;
    width: 230px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    /*margin-bottom: 200px;*/
    
}
.puzzle-err-modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    width: 40%;
}
.center-oops-modal {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin: 20px;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 300px;
}
.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}
