canvas {
    position: absolute;
    border: 1px solid black;
}
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 27px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

        #togglePanel {
            display: flex;
            position: fixed;
            top: 495px;
            left: 0;
            z-index: 100;
            font-family: Roboto, sans-serif;
            width: 230px;
            color: white;
            font-weight: bold;
            border: 2px solid black;
            border-radius: 10px;
            /*margin-bottom: 200px;*/
            
        }
        #closeLetters {
            display: flex;
            position: fixed;
            top: 60px;
            right: 350px;
            z-index: 100;
            font-family: Roboto, sans-serif;
            cursor: pointer;
        }
        #closeLetters span {
            display: block;
            height: 30px;
            width: 30px;
            line-height: 30px;

            -moz-border-radius: 30px;
            border-radius: 30px;

            background-color: red;
            color: white;
            text-align: center;
            font-size: 1.2em;
        }
        .flex-container {
            display: flex;
            font-family:Roboto, sans-serif;
            position: fixed;
            top: 500px;
            left: 0;
            color:white;
            width: 100%;
            opacity: 0;
            z-index: 100;
            border: 2px solid black;
            border-radius: 5px;
        }
        .highlight {
            background-color: rgba(0, 0, 128, 1.0);
            padding: 5px;
            width: 50%;
            cursor: pointer;
        }
        .pale {
            background-color: rgb(56, 166, 255);
            padding: 5px;
            width: 50%;
            cursor: pointer;
        }
        .puzzle-err-modal {
            position: absolute;
            float: left;
            left: 50%;
            top: 50%;
            z-index: 100;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 2px solid black;
            width: 40%;
        }
        .center-oops-modal {
            margin: auto;
            width: 50%;
            padding: 10px;
            margin: 20px;
        }